#walrus-showing {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

.green-background {
  background-color: lightgreen;
}

.yellow-background {
  background-color: goldenrod;
}

.red-background {
  background-color: salmon;
}

.blue-background {
  background-color: lightblue;
}
 .orange {
   border: solid black;
   background-color: orange;
 }

#orange {
  display: none;
}
